<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.0"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.budgetbuddy.app"
    platformBuildVersionCode="33"
    platformBuildVersionName="13">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission
        android:name="android.permission.USE_BIOMETRIC" />

    <permission
        android:name="com.budgetbuddy.app.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="0x2" />

    <uses-permission
        android:name="com.budgetbuddy.app.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:label="Budget Buddy"
        android:icon="@ref/0x7f0d0000"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">

        <activity
            android:theme="@ref/0x7f0f00a2"
            android:name="com.budgetbuddy.app.MainActivity"
            android:exported="true"
            android:launchMode="1"
            android:configChanges="0x40003fb4"
            android:windowSoftInputMode="0x10"
            android:hardwareAccelerated="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@ref/0x7f0f00a3" />

            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@ref/0x7f080060" />

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="true" />

            <intent-filter
                android:autoVerify="true">

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="budgetbuddy"
                    android:host="budgetbuddy.com" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:theme="@ref/0x01030007"
            android:name="io.flutter.plugins.urllauncher.WebViewActivity"
            android:exported="false" />

        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />

        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />
    </application>
</manifest>
