body {
    font-family: Arial, sans-serif;
    margin: 100px auto;
    padding: 20px;
    max-width: 800px;
    line-height: 1.6;
    background-color: white;
}

/* Entire resume body is an element box */
#resume-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr; /* Element box is applied with a Grid Layout */
    gap: 20px; /* Spacing Between Sections */
}

h1, h2 {
    color: #2C3E50;
    text-shadow: .1em .1em lightblue;
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 3px solid #6A5ACD;
    padding-bottom: 5px;
    font-size: 1.6em;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact {
    display: flex;
    align-items: center;
    background: repeating-linear-gradient(to bottom, gainsboro, white 30px);
    padding: 20px;
    border-radius: 10px;
}

/* Floating Profile Picture */
.contact img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 15px;
    float: left; /* Floating text */
}

#contact-info {
    font-size: 1.2em;
    font-weight: bold;
}

.job-title {
    font-weight: bold;
}

/* Section also applied with in-line grid boxes */
.section {
    background: #F8F8F8; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 20px;
}

/* CSS properties for the .svg favicon */
#favicon-container {
    position: absolute;
    top: 10px;
    left: 47%;
}

#favicon-image {
    width: 120px;
    height: 120px;
}
